@charset "utf-8";
@import url(reset.css);

/**common**/
.clearfix:after {content:""; display:block; clear:both; visibility:hidden; line-height:0; height:0;}
.clearfix {display:block;}
.blind {position:absolute; left:-99999px; top:-9999999px; font-size:1px;}

/* 공통 */
.sprite:after {content:''; position:absolute; display:block;}
.center:after {content:''; display:inline-block; vertical-align:middle;}



body {font-size:16px; background-color:#f7f7f7;}
#wrapper {position:relative; overflow:hidden; max-width:1280px; width:100%; height:100%; padding-top:71px; margin:0 auto; background-color:#fff; border:solid 1px #ebebeb;}

/**header**/
header {position:fixed; width:100%; height:73px; top:0; left:0; margin:0 auto; z-index:1000;}
.header_inner {position:relative; max-width:1280px; width:100%; height:100%; border-bottom:solid 1px #e5e5e5; margin:0 auto; background-color:#fff;}
#logo {position:absolute; width:100%; height:100%; /*padding:17px 48px;*/ padding:1.329% 3.75%;}
#logo a {display:block; width:107px; height:100%; background:url(../img/logo_pc.png)no-repeat; background-size:contain;}

.mb_btn {display:none;}

#gnb {position:absolute; display:inline-block; right:421px; font-size:1em; font-family:'SansungIFBd'; color:#101114;}
.f_depth {}
.f_depth > li {float:left; position:relative; margin-right:10px; border-left:solid 1px #fff; border-right:solid 1px #fff;}
.f_depth > li > a {display:block; padding:25px 9px;}
/*two-depth*/
.tw_depth {display:none; position:absolute; left:-1px; border:solid 1px #e5e5e5; box-shadow:0 3px 5px rgba(0,0,0,0.1); z-index:100;}
.tw_depth > li {width:266px; height:auto; border-bottom:solid 1px #e5e5e5; overflow:hidden; background-color:#fff;}
.tw_depth > li > a {display:block; padding:17px 12px; color:#4e4e4e; width:100%; height:100%; font-size:0.938em;}
.tw_depth > li > a:after {position:absolute; width:7px; height:12px; background:url(../img/sprite_pc.png)no-repeat -200px 0; right:12px; margin-top:3px;}
/*three-depth*/
.th_depth {}
.th_depth > li {width:266px; height:52px; border-top:solid 1px #e5e5e5; background-color:#f7f7f7;}
.th_depth > li > a {display:block; padding:17px 24px; color:#4e4e4e; width:100%; height:100%; font-size:0.938em;}
.th_depth > li > a:after {position:absolute; width:7px; height:12px; background:url(../img/sprite_pc.png)no-repeat -200px 0; right:12px; margin-top:3px;}

/*list hover*/
.f_depth > li:hover {border-color:#e5e5e5; box-shadow:0 0 5px rgba(0,0,0,0.1);}
.tw_depth > li:hover > a,
.th_depth > li:hover > a {color:#1e5dd5; background-color:#f7f7f7;}
.tw_depth > li:hover > a:after,
.th_depth > li:hover > a:after {background:url(../img/sprite_pc.png)no-repeat -160px 0;}
.tw_depth.open_pc {display:block;}


.search_box {position:absolute; right:194px; width:227px; height:100%; padding-top:18px;}
.search_box input {width:100%; height:36px; border:solid 2px #2575dd; padding:0 28px 0 10px;}
.search_box button {}
.search_box button:after {width:21px; height:21px; background:url(../img/sprite_pc.png)no-repeat 0 0; right:7px; top:26px;}

.url {position:absolute; display:block; right:48px; color:#2575dd; padding-top:25px; font-family:'SansungIFBd'; font-size:1em;}
.url:after {width:6px; height:9px; background:url(../img/sprite_pc.png)no-repeat -120px 0; right:0; margin-left:7px;}
.menu_bg {display:none; position:absolute; top:0; left:0; right:0; height:100%; background-color:rgba(0,0,0,0.7); z-index:10;}
.f_depth > li.url_close {display:none;}

@media (max-width: 1279px) {
    #wrapper {border:0;}
    #gnb {right:32.891%;}
    .search_box {width:17.735%;}
}

@media (max-width: 1220px) {
    .search_box {width:16%;}
    .f_depth > li {margin-right:8px;}
    .f_depth > li > a {padding:25px 7px;}
}

@media (max-width: 1100px) {
    #logo {padding:17px 20px;}
    #gnb {right:31%;}
    .search_box {width:14%;}
    .f_depth > li {margin-right:8px;}
    .f_depth > li > a {padding:25px 7px;}
    .search_box {right:166px;}
    .url {right:20px;}
}

@media (max-width: 1023px) {
    #wrapper {padding-top:57px;}
    header {width:100%; height:57px;}
    #logo {padding:13px 16px;}
    #logo a {display:block; width:84px; height:100%; background:url(../img/logo_mb.png)no-repeat; background-size:84px auto;}
    .search_box {display:none; position:relative; width:100%; left:0; right:0; padding:16px 17px; height:88px; overflow:hidden; background-color:#fff;}
    .search_box input {height:56px; border-width:4px; padding:0 42px 0 10px;}
    .search_box button:after {width:22px; height:22px; background:url(../img/sprite_mb.png)no-repeat 0 0; background-size:360px auto; right:29px; top:34px;}
    .search_box.on {display:block;}

    .url {display:none;}
    .f_depth > li.url_close {display:block;}
    .f_depth > li > a.url_mb {display:block; width:100%; text-align:center; right:0;}
    .mb_btn {display:block; float:right; font-size:0;}
    .srch_btn {position:relative; width:57px; height:57px; margin-right:1px;}
    .srch_btn:after {width:22px; height:22px; background:url(../img/sprite_mb.png)no-repeat -45px 0; background-size:360px auto; top:50%; margin-top:-11px; left:50%; margin-left:-11px;}
    .srch_open {background-color:#2575dd;}
    .srch_open:after {background:url(../img/sprite_mb.png)no-repeat -90px 0; background-size:360px auto;}
    .menu_bar {position:relative; width:57px; height:57px; margin-left:1px;}
    .menu_bar:after {width:23px; height:19px; background:url(../img/sprite_mb.png)no-repeat -180px 0; background-size:360px auto; top:50%; margin-top:-9px; left:50%; margin-left:-11px;}
    .menu_close {background-color:#2575dd;}
    .menu_close:after {background:url(../img/sprite_mb.png)no-repeat -225px 0; background-size:360px auto;}

    #gnb {display:none; position:absolute; width:100%; right:0; top:56px; font-size:1em; border-top:solid 1px #e5e5e5; background-color:#fff;}
    .f_depth > li {float:none; margin-right:0px; text-align:center; border:0; border-bottom:solid 1px #e5e5e5;}
    .f_depth > li > a {padding:17px 16px; font-size:1.125em;}

    .f_depth > li > a.url {position:static;}

    /*two-depth*/
    .tw_depth {display:none; position:static; left:0px; box-shadow:none; border:0; border-top:solid 1px #e5e5e5;}
    .tw_depth > li {width:100%; background-color:#f7f7f7; text-align:left;}
    .tw_depth > li > a {padding:15px 16px;font-size:0.875em;}
    .tw_depth > li > a:after {width:8px; height:14px; background:url(../img/sprite_mb.png)no-repeat -315px 0; background-size:360px auto; right:16px; margin-top:4px;}
    /*three-depth*/
    .th_depth {}
    .th_depth > li {width:100%; height:52px; background-color:#eee;}
    .th_depth > li > a {padding:17px 24px; font-size:0.938em;}
    .th_depth > li > a:after {width:8px; height:14px; background:url(../img/sprite_mb.png)no-repeat -315px 0; background-size:360px auto; right:16px; margin-top:4px;}
    .f_depth > li:hover {box-shadow:none;}
    .tw_depth.on {display:block;}
    .tw_depth > li:hover > a,
    .th_depth > li:hover > a {color:#333;}
    .th_depth > li:hover > a {background-color:#eee;}
    .tw_depth > li:hover > a:after,
    .th_depth > li:hover > a:after {background:url(../img/sprite_mb.png)no-repeat -315px 0; background-size:360px auto;}

    /*menu_open*/
    header.menu_open {height:100%; overflow:auto; background:rgba(0,0,0,0.8);}
    header.menu_open .header_inner {/*overflow:auto;*/ height:57px;}
    header.menu_open #gnb {display:block;}
    header.menu_open .menu_bg {display:block;}
    .gnb_open {height:100%; overflow:hidden;}

    .header_container.gnb_open .header_inner,
    .header_container.gnb_open .menu_bar,
    .header_container.gnb_open .menu_close {display:block;}
}

/**container**/
.container {width:100%; height:100%;}

.kv_area {position:relative; width:100%; max-height:408px; height:auto; overflow:hidden;}
.kv_area .slider_common {position:absolute; float:left; max-width:858px; width:67.137%; height:100%;}
.kv_slider > ul {}
.kv_slider > ul > li {position:absolute; width:100%; height:100%; left:100%;}
.kv_slider > ul > li > a {display:block; position:relative; width:100%; height:0; padding-top:47.554%;}
.kv_inner {position:absolute; width:100%; height:100%; top:0; left:0; background-size:cover; background-position:center; background-repeat:no-repeat;}
.kv_txt p {position:absolute; width:100%; padding:0 48px; bottom:20px; font-size:2em; font-family:'SansungIFBd'; color:#fff; margin-top:24px; text-shadow:2px 2px rgba(5,5,5,0.5); line-height:1; transition:transform .2s linear;}

.indicator {position:absolute; bottom:110px; left:48px; height:12px;}
.indicator {position:absolute; display:inline; width:auto; text-align:center; right:0; bottom:110px; left:48px; height:12px;}
.indicator ul {width:100%; height:auto; overflow:hidden; display:inline;}
.indicator ul li {position:relative; float:left; width:10px; height:10px; margin-right:9px; margin-top:2px;}
.indicator li button {position:absolute; display:block; width:100%; height:100%;}
.indicator li button:after {width:10px; height:10px; position:absolute; top:0; left:1px; background:url(../img/sprite_pc.png)no-repeat 0 -40px;}
.indicator li.active button:after {cursor:default; background:url(../img/sprite_pc.png)no-repeat -40px -40px;}

.indicator span {float:left; font-size:0;}
.indicator .play_btn {position:relative; width:12px; height:12px; margin-right:9px;}
.indicator .play_btn:after {width:12px; height:12px; top:1px; left:0; background:url(../img/sprite_pc.png) no-repeat -80px -40px;}
.indicator .play_btn.stop:after {width:10px; background:url(../img/sprite_pc.png) no-repeat -120px -40px;}


.small_kv {float:right; max-width:420px; width:32.865%; height:100%;}
.small_kv ul {}
.small_kv ul li {position:relative; width:100%; height:0; padding-top:48.572%;}
.small_kv ul li a {display:block; position:absolute; width:100%; height:100%; top:0; left:0; background-size:cover; background-position:center; background-repeat:no-repeat;}
.small_kv ul li a p {position:absolute; width:100%; bottom:16px; font-size:1.250em; font-family:'SansungIFBd'; color:#fff; text-shadow:2px 2px rgba(5,5,5,0.5); line-height:1.1em; padding:0 20px; transition:transform .2s linear; max-height:2.2em; overflow:hidden;}

.kv_slider > ul > li:hover .kv_txt p {transform:translateY(-10px);}
.kv_slider > ul > li:hover .kv_txt {position:absolute; top:0; width:100%; height:100%; background:url(../img/kv_shadow.png)no-repeat; background-size:100% auto;}
.small_kv ul li:hover p {transform:translateY(-10px);}
.small_kv ul li:hover .small_kv_inner {width:100%; height:100%; background:url(../img/kv_shadow.png)no-repeat; background-size:100% auto;}


@media (max-width:1024px) {
    .kv_area {max-height:326px;}
    .kv_slider > ul > li > a {padding-top:47.5218%;}
    .kv_txt p {padding:0 32px;}
    .indicator {left:32px;}

    .small_kv ul li {padding-top:48.2248%;}

}

@media (max-width:768px) {
    .kv_area {max-height:100%; height:100%;}
    .kv_area .slider_common {position:relative; float:none; max-width:858px; width:100%; height:100%;}
    .kv_slider {position:relative;}
    .kv_slider,
    .small_kv {float:none; max-width:100%; width:100%;}
    .small_kv {margin-top:16px; padding: 0 16px;}
    .kv_slider > ul > li {height:auto;}
    .small_kv ul li:first-child {margin-bottom:10px;}
    .kv_txt p {font-size:24px;}
    .small_kv ul li a p {font-size:19px;}
    .kv_slider > ul > li:hover .kv_txt {transform:translateY(0);}
    .small_kv ul li:hover p {transform:translateY(0);}
    .small_kv ul li:hover .small_kv_inner {background:none;}
}

/**main , section**/
.content {float:left; width:67.057%; height:100%; padding:0 20px;}
.banner {float:right; width:32.943%; height:100%; padding-right:20px;}
.section {position:relative;}
.section_title {position:relative; margin:48px 0 10px; width:100%; height:auto;}
.section_title h2 {display:inline-block; font-size:1.438em; font-family:'SansungIFBd'; color:#101114; line-height:1.130em;}
.section_title a {display:inline-block; position:absolute; right:0; top:0; width:26px; height:26px; font-size:0;}
.section_title a:after {width:26px; height:26px; background:url(../img/sprite_pc.png)no-repeat 0 -80px;}
.section_title a:hover:after {background:url(../img/sprite_pc.png)no-repeat -40px -80px;}

/**corporate**/
.corporate {width:100%; height:100%;}
.section_inner {position:relative; width:100%; max-height:287px; height:100%;}
.section_inner > ul {margin-right:-17px; display:inline-block;}
.section_inner > ul > li {float:left; width:50%; padding-right:17px; height:100%;}
.section_inner > ul > li > a {display:block; position:relative; width:100%; height:100%; border:solid 1px #e5e5e5; box-shadow:3px 3px 5px rgba(0,0,0,0.05);}
.list_pic {position:relative; width:100%; height:0; padding-top:47.84%;}
.list_pic_inner {position:absolute; width:100%; height:100%; top:0; left:0; background-repeat:no-repeat; background-size:cover; background-position:center;}
.list_txt {position:relative; width:100%; height:110px; padding:17px 15px 15px;}
.black_title {font-size:1.125em; color:#363636; height:45px; overflow:hidden; line-height:22px; letter-spacing:0.03em;}
.list_txt .date {position:absolute; bottom:16px;}
.date {font-size:0.813em; color:#5b728d; line-height:22px; letter-spacing:0.02em;}
.txt_mb {display:none;}

.section_inner > ul > li:hover > a {border-color:#90d4ee;}
.section_inner > ul > li:hover > a > p {color:#2575dd;}



@media (max-width:1024px) {
    .content {padding:0 20px;}
    .section_title {margin:32px 0 10px;}
    .section_inner {max-height:255px;}
    .section_inner > ul {margin-right:-10px;}
    .section_inner > ul > li {padding-right:10px;}
    .list_pic {padding-top:47.65%;}
}

@media (max-width:768px) {
    .content {float:left; width:100%; height:100%; padding:0 16px;}
    .section {margin-top:40px;}
    .section_title h2 {font-size:23px; line-height:30px;}
    .section_inner ul {margin-right:0;}
    .corporate {max-height:1209px; height:100%;}
    .section_inner {max-height:1049px;}
    .section_title {margin:0 0 12px;}
    .section_title a {width:30px; height:30px;}
    .section_title a:after {width:30px; height:30px; background:url(../img/sprite_mb.png)no-repeat 0 -90px; background-size:360px auto;}
    .section_title a:hover:after {background:url(../img/sprite_mb.png)no-repeat 0 -90px; background-size:360px auto;}
    .section_inner > ul > li {float:none; width:100%; padding-right:0px;}
    .section_inner > ul > li:first-child {margin-bottom:30px;}
    .section_inner > ul > li a {border:0; box-shadow:none;}
    .list_pic {padding-top:47.11%;}
    .list_txt {padding:0; height:auto;}
    .list_txt p {font-size:18px; height:auto; line-height:1.2222em; max-height:6.1111em; letter-spacing:0.02em; margin:16px 0;}
    .list_txt .date {bottom:0; position:static;}
    .date {font-size:12px;}

}

/**press**/
.press {}
.press .date_wrapper {position:absolute; width:100%; height:100%; top:0; left:0;}
.press .date_wrapper ul {position:absolute; bottom:16px; padding:0 15px;}
.press .list_txt .date {position:static; float:left; padding-right:12px;}
.press .list_txt .date:first-child {font-family:'SansungIFBd';}
.press .list_txt .date:first-child:after {width:1px; height:11px; background-color:#ccc; margin-left:12px;}
.press .first_pic .list_pic_inner {background-repeat:no-repeat; background-size:100% auto; background-position:center;}

@media (max-width:768px) {
    .press .date_wrapper {position:relative;}
    .press .date_wrapper ul {position:relative; bottom:0; padding:0; height:auto; overflow:hidden;}
}

/**tab_menu**/
.tab_menu {width:100%; height:100%; margin-top:32px;}
.tab_contents {width:100%; height:100%; padding-top:44px;}
.tab_title {position:absolute; top:0; text-align:center; display:inline-block; font-size:1.375em; font-family:'SansungIFBd'; width:162px; padding:6.5px 0; border:solid #ccc; border-width:1px 1px 0 1px; background-color:#f7f7f7; border-bottom:solid 1px #ccc;}
.most {padding-top:32px; border-top:solid 1px #ccc;}
.most > ul {}
.most > ul > li {width:100%; height:100%; overflow:hidden; margin-bottom:10px; border:solid 1px #e5e5e5; box-shadow:3px 3px 5px rgba(0,0,0,0.05);}
.most > ul > li:last-child {margin-bottom:0;}
.most > ul > li > a {display:block; position:relative; width:100%; height:100%;}
.most_pic_wrap {position:relative; float:left; width:48.684%; height:100%;}
.most_pic {width:100%; height:0; /*padding-top:46.056%;*/ padding-top:47.3%;}
/*.most_pic {position:relative; float:left; width:50%; height:0; padding-top:23.027%;}*/
.most_pic_inner {position:absolute; width:100%; height:100%; top:0; left:0;}
/*.most_pic_inner {position:absolute; width:100%; height:100%; top:0; left:0;}*/

.most_txt_wrap {position:relative; width:51.316%; height:0; padding-top:23.027%; float:right;}
.most_txt {position:absolute; width:100%; top:0; left:0; height:100%; padding:18px 20px 16px;}
/*.most_txt {float:right; max-width:390px; width:50%; max-height:175px; height:100%; padding:18px 20px 16px;}*/
.blue_title {padding-bottom:8px; color:#2575dd; font-family:'SansungIFBd';}
.most_txt .black_title {margin-bottom:14%;}

.most > ul > li:hover {border-color:#90d4ee; color:#2575dd;}

.tab_popular {left:161px; background-color:#f7f7f7; border-bottom:solid 1px #ccc;}
.popular {display:none;}

.tab_menu .tab_title.tab_open {background-color:#fff; border-bottom:solid 1px #fff;}
.tab_contents.tab_open .most {display:block;}
.tab_contents.tab_close .mos {display:none;}
.tab_menu .tab_title.tab_close  {background-color:#f7f7f7; border-bottom:solid 1px #ccc;}

@media (max-width:1300px) {
    .most_txt .black_title {margin-bottom:10%;}
}

@media (max-width:1160px) {
    .most_txt .black_title {margin-bottom:4%;}
}

@media (max-width:1024px) {
    .most_pic {padding-top:47.27%;}
    .most_txt_wrap {padding-top:23.012%;}
    .most_txt {max-width:316px; max-height:145px; padding:15px 17px;}
    .blue_title {padding-bottom:2.84%;}
    .most_txt .black_title {margin-bottom:6.384%;}
}

@media (max-width:1023px) {
    body {font-size:15px;}
    .tab_contents {padding-top:42px;}
    .most_txt {padding:3% 5%;}
    .blue_title {padding-bottom:2%;}
    .most_txt .black_title {margin-bottom:3%;}
}

@media (max-width:840px) {
    /*body {font-size:14px;}*/
    .most_txt .black_title {margin-bottom:1%;}
}

@media (max-width:768px) {
    .tab_menu {margin-top:40px;}
    .tab_contents {padding-top:52px;}
    .most {padding-top:26px;}
    .most > ul > li:first-child {display:none;}
    .most > ul > li {border:none; box-shadow:none;}
    .most > ul > li:hover {color:#333;}
    .tab_title {font-size:23px; width:50%; padding:10px 0;}
    .most_pic_wrap,
    .most_txt_wrap {float:none; width:100%;}
    .most_txt_wrap {height:auto; padding-top:0; overflow:hidden;}
    .most_pic {padding-top:61.968%;}
    .most_txt {position:relative; max-width:768px; max-height:266px; padding:0; margin:16px 0; height:auto; overflow:hidden;}
    /*.most_txt {float:none; max-width:704px; width:100%; max-height:266px; padding:16px 0;}*/
    .blue_title {padding-bottom:13px; font-size:12px;}
    .black_title {font-size:18px;}
    .most_txt .black_title {margin-bottom:19px;}
    .tab_popular {left:50%; margin-left:-1px;}
}

@media (max-width:480px) {
    .tab_contents {padding-top:11.61%;}
    .tab_title {padding:2.234% 0;}
}

/**pagination**/
.pagination {width:100%; padding:32px 0 36px; text-align:center;}
.pagination ul {}
.pagination ul li {display:inline-block; vertical-align:middle; margin:0 2px;}
.pagination ul li:first-child {margin:0; margin-right:6px;}
.pagination ul li:last-child { margin:0; margin-left:6px;}
.pagination ul li a {display:block; width:28px; height:28px; border:solid 1px #e5e5e5; font-size:0.750em; line-height:2.166em; background-color:#fff; color:#47546e;}
.pagination ul li:first-child a {position:relative; font-size:0;}
.pagination ul li:last-child a {position:relative; font-size:0;}
.pagination ul li:first-child a:after {position:absolute; width:4px; height:7px; background:url(../img/sprite_pc.png)no-repeat -80px -80px; top:50%; margin-top:-3.5px; margin-left:-2px;}
.pagination ul li:last-child a:after {position:absolute; width:4px; height:7px; background:url(../img/sprite_pc.png)no-repeat -120px -80px; top:50%; margin-top:-3.5px; margin-left:-2px;}
.pagination ul li.on a {background-color:#2575dd; color:#fff; cursor:default;}
.pagination ul li:hover a {box-shadow:3px 3px 5px rgba(0,0,0,0.05);}

/**mai.main**/
.mai.main {padding-top:82px;}
.mai.main .section_title {margin:12.87% 0 2.682%;}
.mai.main .section_title {margin:0 0 10px;}

@media (max-width:1024px) {
    .mai.main {padding-right:32px; padding-top:68px;}
    .main .section_title {margin:10.482% 0 3.28%;}
}

@media (max-width:768px) {
    .main {display:none;}
    .pagination ul li {margin:0 2.5px;}
    .pagination ul li:first-child {margin-right:6.5px;}
    .pagination ul li:last-child {margin-left:6.5px;}
    .pagination ul li a {width:40px; height:40px; font-size:16px; font-family:'SansungIFBd'; line-height:40px;}
    .pagination ul li.mb_hide {display:none;}
    .pagination ul li:first-child a:after {width:6px; height:11px; background:url(../img/sprite_mb.png)no-repeat -90px -90px; background-size:360px auto; top:50%; margin-top:-5px; margin-left:-3px;}
    .pagination ul li:last-child a:after {width:6px; height:11px; background:url(../img/sprite_mb.png)no-repeat -135px -90px; background-size:360px auto; top:50%; margin-top:-5px; margin-left:-3px;}
    .pagination ul li:hover a {box-shadow:none;}
}

@media (max-width:400px) {
    .pagination ul li a {width:30px; height:30px;line-height:30px;}
}

/**banner : content 영역안에 똑같은거 존재.**/
/**views**/
.views {width:100%; height:auto;}
.views ul {}
.views ul li {width:100%; height:auto; margin-bottom:1px; background-color:#5b728d; padding:4.828% 5.365%;}
.views ul li:last-child {margin-bottom:0;}
.views ul li a {display:block; }
.views ul li a p {color:#fff; font-size:1.125em; line-height:1.222em; max-height:3.666em; letter-spacing:0.03em; margin-bottom:5.41%; overflow:hidden; text-overflow:ellipsis; /*white-space:nowrap;*/}
.views ul li a span {color:#e9ecf0; font-size:0.813em; letter-spacing:0.015em;}

.views ul li:hover {background-color:#2575dd;}

@media (max-width:1024px) {
    .views ul li {padding:6.555%;}
    .views ul li a p {margin-bottom:6.785%;}
}
/**info**/
.info {}
.info .first_pic a {display:block; border:solid 1px #e5e5e5; box-shadow:3px 3px 5px rgba(0,0,0,0.05);}

/**video**/
.slider_common {width:100%; margin-bottom:30px;}
.video {overflow:hidden;}
.main_slider {position:relative; width:100%; height:0; padding-top:60%;}
.main_slider ul {position:absolute; top:0; left:0; width:100%; height:100%;}
.main_slider ul li {position:absolute; width:100%; overflow:hidden; left:100%;}
/*.main_slider ul li:first-child {left:0;}*/
.main_slider ul li a {display:block; position:relative; width:100%; height:0; padding-bottom:59.788%;}
.main_pic {position:absolute; width:100%; height:100%; top:0; left:0; background-size:cover; background-position:center; background-repeat:no-repeat}
.main_txt {position:absolute; top:15px; left:19px; color:#fff; width:72%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap}


.video .indicator {position:static; float:right; margin-top:6px;}
.photo .indicator {position:static; float:right; margin-top:6px;}

/**photo**/
.photo {overflow:hidden;}
/*.photo .main_slider ul li {max-height:177px;}*/
/*.photo .main_slider ul li a {border:solid 1px #ccc; padding-top:46.92%;*/}
/*.photo .main_pic {position:absolute; width:100%; height:100%; top:0; left:0;}*/


@media (max-width:768px) {
    .slider_common {float:none; width:100%; margin-bottom:0; height:247px;}
}


.top_btn {position:fixed; width:82px; height:44px; bottom:0; right:0; background-color:#eaeaea; font-size:1em; font-family:'SansungIFBd'; padding:14px 0 0 14px;}
.top_btn:after {width:14px; height:8px; background:url(../img/sprite_pc.png)no-repeat -80px -120px; margin-left:13px;}

/*기존 있던 거에서 수정한거라 아래부터는 추가 수정된 항목*/
.banner_slide {position:relative; width:100%;}
.banner_slide ul {}
.banner_slide ul li {position:relative; width:100%; height:100%; top:0; left:0; margin-bottom:10px;}
.banner_slide ul li:last-child {margin-bottom:0;}
.banner_slide ul li p {display:none;}
.banner_slide ul li img {width:100%;}


@media (max-width:768px) {
    .content {float:none;}
    .banner {width:100%; float:none; padding:20px;}
    .banner_slide {position:relative; width:100%; height:0; padding-top:80%; overflow:hidden;}
    .banner_slide ul li {position:absolute; width:100%; height:100%; top:0; left:100%; background-size:cover; background-position:center; background-repeat:no-repeat}
    .banner_slide ul li.mb img {display:none;}
    .banner_slide ul li p {display:block; font-size:50px; font-weight:bold; color:red; position:absolute; bottom:10px; left:20px;}
}