@charset "utf-8";

/*@import url("https://use.typekit.net/flp5irk.css"); !*font-family: brandon-grotesque, sans-serif;*!
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@font-face {
    font-family: 'Noto Sans CJKkr';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans CJKkr'), local('Noto Sans CJKkr'),
    url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.eot'),
    url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.woff') format('woff'),
    url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Noto Sans CJKkr';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Bold'), local('Noto Sans CJKkr'),
    url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.eot'),
    url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.woff') format('woff'),
    url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'Noto Sans CJKkr';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('Noto Sans CJKkr'),
    url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.eot'),
    url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.woff') format('woff'),
    url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'brandon-grotesque';
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'brandon-grotesque';
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'brandon-grotesque';
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'brandon-grotesque';
    font-style: normal;
    font-weight: 900;
}*/




html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0; padding:0; box-sizing:border-box;
}

a{box-sizing:border-box;color:#000;}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}


body {
    /*font-family:'Noto Sans CJKkr';*/
    font-size:18px;
    letter-spacing:-0.01em; line-height:1.4; -webkit-font-smoothing : antialiased;
    color:#000;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border:0 none;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select, textarea {
    vertical-align:middle;
    box-sizing:border-box;
    border-radius:0;
    /*font-family:'Noto Sans CJKkr';*/
}
input{
    margin:0;
}
img, fieldset {
    border:0;
}
ul, ol, li{
    list-style-type:none;
}
li img{
    vertical-align:top;
}
button {
    /*font-family:'Noto Sans CJKkr';*/
    box-sizing:border-box;
    padding:0;
    border:0;
    background:transparent;
    cursor:pointer
}
a{
    text-decoration:none;
}
img{
    vertical-align:middle;
    font-size:0;
}