@charset "utf-8";
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/notokr-regular.eot');
	src: url('../fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-regular.woff2') format('woff2'),
	url('../fonts/notokr-regular.woff') format('woff');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: local('Noto Sans Regular'), local('NotoSans-Regular'),
	url('../fonts/NotoSansKR-Regular-Hestia.eot'),
	url('../fonts/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'),
	url('../fonts/NotoSansKR-Regular-Hestia.woff') format('woff'),
	url('../fonts/NotoSansKR-Regular-Hestia.otf') format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: local('Noto Sans Medium'), local('NotoSans-Medium'),
	url('../fonts/NotoSansKR-Medium-Hestia.eot'),
	url('../fonts/NotoSansKR-Medium-Hestia.eot?#iefix') format('embedded-opentype'),
	url('../fonts/NotoSansKR-Medium-Hestia.woff') format('woff'),
	url('../fonts/NotoSansKR-Medium-Hestia.otf') format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: local('Noto Sans Bold'), local('NotoSans-Bold'),
	url('../fonts/NotoSansKR-Bold-Hestia.eot'),
	url('../fonts/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'),
	url('../fonts/NotoSansKR-Bold-Hestia.woff') format('woff'),
	url('../fonts/NotoSansKR-Bold-Hestia.otf') format('opentype');
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0; padding:0; box-sizing:border-box;
}

a {box-sizing:border-box;}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}


body {
	font:13px/1.4 'Noto Sans KR',Dotum,sans-serif;
	color:#333;
}

input, select, button, textarea{
	box-sizing:border-box;
	font:14px/1 'Noto Sans KR',Dotum,sans-serif;
}

h1,h2,h3,h4,h5{font-family:'Noto Sans KR',sans-serif; font-weight: 500;}

nav ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
	border-collapse:collapse;
	border:0 none;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
input{
	margin:0;
}
img, fieldset {
	border:0;
} 
ul, ol, li{
	list-style-type:none;
}
li img{
	vertical-align:top;
}
button { 
	padding:0;
	border:0;
	background:transparent;
	cursor:pointer;
}
a{
	text-decoration:none;
}
img{
	vertical-align:middle;
	font-size:0;
}