@import "../../common/css/reset.css";
button {border:none;}
#wrapper {position:relative;margin:0 auto;}
#container {max-width:750px;margin:0 auto;}
.slider {margin-top:200px;}
.slider .img_wrap {position:relative;width:100%;padding-top:50.666%;}
.slider .img {position:absolute;left:0;top:0;width:100%;height:100%;background-position:center;background-repeat:no-repeat;background-size:cover;}
.slider_tab_wrap {position:relative;padding:0 10px 0 20px;width:100%;text-align:center;margin-top:13px;}
.slider_tab_wrap .slider_tab_inner {position:relative;font-size:0;}
.slider_tab_inner .slide_tab {position:relative;display:inline-block;width:9.488%;padding-right:10px;}
.slider_tab_inner .slide_tab button {position:relative;width:100%;height:0;padding-top:100%;display:block;overflow:hidden;}
.slider_tab_inner .slide_tab button img {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);display:block;width:auto;height:100%;background-size:contain;}
.slider_tab_inner .slide_tab.on button {box-shadow:6px 6px 3px rgba(0,0,0,.2);}



